* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    padding: 20px;
    background-color: darkcyan;
    color: white;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background {
    background-color: lightgray;
}

.main-blocks {
    display: flex;
    gap: 20px;
    align-items: stretch;
    justify-content: center;
    margin-top: 20px;
}

.first-block {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-bottom: 100px;
    padding-top: 10px;
    padding-inline: 30px;
    gap: 5px;
    border-radius: 5px;
    border: 1px solid rgba(134, 132, 132, 0.1);
}

.second-block {
    display: flex;
    background-color: white;
    padding: 10px 100px 10px 10px;
    gap: 10px
}

.list_container {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 5px;
    border-radius: 5px;
    border: 1px solid rgba(134, 132, 132, 0.1);
  }

.btn-add, .btn-search {
    background-color: darkturquoise;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

.input-search, .input-add {
    width: 200px;
    border-radius: 5px;
    border: solid 1px;
    border-color: lightgray;
    padding: 5px;
}

  .task-ul {
    list-style-type: none;
    padding: 10px 10px 30px 10px;
}
  
  li:has(input:checked) {
    text-decoration: line-through;
  }