* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    padding: 10px;
    background-color: darkcyan;
    color: white;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.empezar {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    margin: 15px;
    padding-inline: 10px;
    padding-block: 5px;
    border-radius: 5px;
    border: none;
    background-color: darkcyan;
    color: white;
}